language: node_js
node_js:
- '10.16'
services:
- xvfb
branches:
  only: 
    - master
before_script:
- npm install
- npm install --save-dev chai karma karma-chai karma-chrome-launcher karma-coverage
  karma-firefox-launcher karma-html2js-preprocessor mocha karma-mocha karma-phantomjs-launcher
  karma-browserify babel-plugin-espower babelify karma-sauce-launcher
- npm install -g --save-dev opentok-solutions-logging
script:
- npm run build
- npm test
- if [[ "$TRAVIS_PULL_REQUEST" == "false" ]]; then
    VERSION=$(jq '.version' package.json | sed -e 's/^"//' -e 's/"$//');
    git commit -m "New build. Bump npm version.";
    git tag v$VERSION;
    git push --quiet https://$GITHUBKEY@github.com/opentok/accelerator-textchat-js v$VERSION;
  fi
deploy:
  provider: npm
  email: opentok-vsolutions@tokbox.com
  api_key:
    secure: HNfaito79FCZ2DER2GlTfN7HBbzaCvhJEqGjz5wFYeuVEYbUGud+jb19cj5iVTEVe12DqXUnzIi+u44ZrAnK3DTv/rOCD478g7ICJBEicYzo2m8ODJibD7x5fGLaQQOuy2XEnrUGvDa3D6XsasKabmOFa8vFUSLZSK3B5JWEA0OONJKVPGMVR4ORpFQc7aoIe+9dvEEi25M75bmXpASS+hn5+TPsNkytsSdurkxM+ydcDSMo0L4eA542ArPQWlSI5mgt6PtOuCsk1rAhYbKgIVfn6Rjq9jEj3HC6HFeX62+YToZb6NqBZYXMavq99CK07J4sX3IrcvNmhytAFgBtjfmoRlzOWYR6uyjpj36zMiHxKyOvS7Cmu5+KO9qHLIqg1vKvcRUY//pGoMnpuiY+xWIzmFe0AgS3z8DLeg8oVSaYynALEV8gxGYcTD9jhh881qTWvJTV4uRT4yk7y1MFnqKPPYCG2jy/Jqr6u8BY46iT8/fbhgiW+NE80DmaMB6qaH2RzVNzTk17gyjb8UJvGpiWqKNHHnG5+FvgJKkSjPUmCB9FQDLMkO9yanoLi+1qeYAO3EP/9a2qe+xD80fz7RsHHuevKFI6H3ciU6eXprviBv10HPmoGSbUN4GU9QtIlGemjVY9EVxF5gOtYDkcrtS+fiCM4fPuJ7iZvPjEw6o=
  on:
    tags: true
  skip_cleanup: true
notifications:
  slack:
    secure: CLKn9KgcZnSo/6pbRRlsCEiICcTOky+Kuf+gdHFz1b7hesEDhOVmAbK+mZR4tsc0h48xgcOXC30tkioL91a+o7B47yAI/pEaMHHw0gWQKqR4Ti7V2ueOGLBun/Ih/d82aBpPzwAudE9F3pt+5KgNlsbcgIzBAG/D/9Sc3xGFgrVSnaG+k+PN4HgjJNzc/OY8P3fGO5kz1skQ8tUxC3Q/50I6syWcN5q8O4u+lQThaAeQLHFrkFV7QnK2I+RCFDtM84yDMzyfIz+OmzxybzFSM74vXXIkHvNahXUKYd23T8tQXbPrqql/FkXLKZ9qAT1zx+GzFKHa5GfUyl9jtjv7JIlXciK+EUYRcZvxPESe0DEhvBod8d2gRO5DRdDcryBmI/aETjJKBrdyqY87D9YqzDVWEhOxtt+VlUND9L1cwUm/RhktGaV+jPWqU12MTUU7/XgGO4lum2b/Nj67jWJF/jNmfwS5wmly5oD3X1nm1ct+A37tMvCDTY7PeR0jWy3MKB8AcWktnTKx/zOdlNDWpQ9FjE8UxmQ0glfDU+CdL30fKV0974cvsbpYcG0H1AgVi6CHIll+o4iCr52z7J6DAgiwBDqmpzJMxVUCpig5Ttn6jL5IGaNcNIze7Dc9+gAkmXCgoXDhd6NQY7MkUSBWx0pzTR1UMD/WS6ef8h+Hp3Y=
